doctype html
html(lang='en')
  head
    title Login Page
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
    link(href='https://fonts.googleapis.com/css?family=Dosis', rel='stylesheet', type='text/css')
    link(rel="stylesheet", type="text/css", href="/assets/styles.css")
  body
    div#container
      div.navbar
        div.navHome
          a(href='/') The Collective
        div.navLinkContainer
          a(href='/page1') Game Page
          a(href='/scorePage') High Scores
          a(href='/documentation') Documentation
          a(href='/logout') Log Out
      div.login_pageContent
        div.column_1
          div.loginContainer
            h3 Login
            p#errorMessage.hidden
            form#loginForm(class='loginForm', name='loginForm', action='/login', method='POST')
              label(for='username') Username: 
              input#user(type='text', name='username', placeholder='username')
              label(for='pass') Password: 
              input#pass(type='password', name='pass', placeholder='password')
              input(type='hidden', name='_csrf', value='#{csrfToken}')
              a#loginSubmit(class='formSubmit', href='#') Sign in
            p
              | Don't have an account? 
              a(href='/signup') Sign up
block scripts
    script(src='/assets/client.js')
